@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    @apply bg-[#FCFCFD] text-zinc-900;
  }
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}